<div class="loading-spinner" *ngIf="isFetching; else fetched">
  <mat-spinner diameter="32"></mat-spinner>
</div>
<ng-template #fetched>
  <button mat-icon-button class="btn-add" color="primary" (click)="editRow(true)">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button class="btn-add" [disabled]="editable().length !== 1" (click)="editRow(false)">
    <mat-icon>edit</mat-icon>
  </button>

  <button mat-icon-button class="btn-delete" color="warn" [disabled]="!selection.selected.length" (click)="delete()">
    <mat-icon>delete_outline</mat-icon>
  </button>

  <table mat-table [dataSource]="displayedProjects">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected() && isAnySelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="date_begin">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <td mat-cell *matCellDef="let element">{{element.date_begin.toLocaleDateString()}}</td>
    </ng-container>

    <ng-container matColumnDef="date_end">
      <th mat-header-cell *matHeaderCellDef>To</th>
      <td mat-cell *matCellDef="let element">{{element.date_end.toLocaleDateString()}}</td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let element">{{element.cost}}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element">{{element.comment || ""}}</td>
    </ng-container>

    <ng-container matColumnDef="empty">
      <td mat-footer-cell *matFooterCellDef colspan="6">
        No information about projects
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    <tr mat-footer-row *matFooterRowDef="['empty']" [hidden]="displayedProjects.length"></tr>
   </table>

  <mat-paginator (page)="pageChange($event)" [length]="total" [pageSizeOptions]="pagination" [pageSize]="size" [pageIndex]="page"></mat-paginator>
</ng-template>
