<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <h3 mat-dialog-title *ngIf="!data.id">Add new project</h3>
  <h3 mat-dialog-title *ngIf="data.id">Edit project {{data.name}} (id: {{data.id}})</h3>

  <mat-dialog-content>
    <mat-form-field class="form-field">
      <input matInput name="name" formControlName="name" [placeholder]="'Name'" required>
      <mat-hint *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)">
        <span *ngIf="form.get('name').errors.required">
          Name is required
        </span>
        <span *ngIf="form.get('name').errors.maxlength">
          Too long name
        </span>
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput [matDatepicker]="picker1" formControlName="date_begin" [placeholder]="'From'" required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-hint align="start" *ngIf="form.get('date_begin').invalid && (form.get('date_begin').dirty || form.get('date_begin').touched)">
        <span *ngIf="form.get('date_begin').errors.required">
          Date of begin is required
        </span>
        <span *ngIf="form.get('date_begin').errors.dateError">
          Invalid date
        </span>
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput [matDatepicker]="picker2" formControlName="date_end" [placeholder]="'To'" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-hint align="start" *ngIf="form.get('date_end').invalid && (form.get('date_end').dirty || form.get('date_end').touched)">
        <span *ngIf="form.get('date_end').errors.required">
          Date of end is required
        </span>
        <span *ngIf="form.get('date_end').errors.dateError">
          Invalid date
        </span>
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput type="number" name="cost" formControlName="cost" [placeholder]="'Cost'" required>
      <mat-hint align="start" *ngIf="form.get('cost').invalid && (form.get('cost').dirty || form.get('cost').touched)">
        <span *ngIf="form.get('cost').errors.required">
          Cost is required
        </span>
        <span *ngIf="form.get('cost').errors.min">
          Too little value
        </span>
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field">
      <textarea matInput name="comment" formControlName="comment" [placeholder]="'Comment'"></textarea>
      <mat-hint *ngIf="form.get('comment').invalid && (form.get('comment').dirty || form.get('comment').touched)">
        <span *ngIf="form.get('comment').errors.maxlength">
          Too long comment
        </span>
      </mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button type="button" mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-stroked-button *ngIf="!data.id" type="submit" color="primary" [disabled]="form.invalid || form.pristine">Add</button>
    <button mat-stroked-button *ngIf="data.id" type="submit" color="primary" [disabled]="form.invalid || form.pristine">Edit</button>
  </mat-dialog-actions>
</form>
